// app global css in SCSS form

@import url(./inter-font/inter-font.css);

:root {
  --dp-font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  color: $primary;
  line-height: 1;
}
.drawer-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.drawer-neoshka {
  display: flex;
  justify-content: center;
}
.q-table__middle::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
}
.q-table__middle::-webkit-scrollbar-track {
  background-color: #e3e8f0;

  border-radius: 50px;
}
.q-table__middle::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #d0d8e5;
}

.body-bg {
  background-color: $body-bg;
}

.page-container {
  padding: 24px 20px;
}
.page-title {
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.q-field__native {
  padding: 0;
  color: $primary;
}
.q-field--dense .q-field__control,
.q-field--dense .q-field__marginal {
  height: 36px;
}

.q-table__card {
  color: $primary;
  background: none;
  border-radius: 0;
}

.q-table {
  table-layout: fixed;
  border-radius: 12px;
  background-color: #fff;
  border-collapse: collapse;

  .inner-table-td {
    padding: 0;
  }

  @media screen and (max-width: 1240px) {
    table-layout: auto;
  }
}
.act-service-table .q-table {
  table-layout: auto;
}
.full-client-table .q-table {
  table-layout: auto;

  tbody td:last-child {
    background-color: #fff;
  }
}

// .full-client-table .q-table tr th:last-child,
// .full-client-table .q-table tr td:last-child {
//   position: static;
// }

.drawer {
  flex-wrap: nowrap;
}

.q-table__middle {
  background: none;
  padding-bottom: 8px;
}
.q-table tr th:last-child,
.q-table tr td:last-child {
  position: sticky;
  right: 0;
}
.q-table-inner-element {
}
.q-table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 12px;
}
.q-table th,
.q-table td,
.q-table thead,
.q-table tbody td {
  height: unset;
}
.q-table th {
  line-height: 13px;
  border-color: #f2f5fa;
}
.q-table td {
  padding: 0 16px;
  border-color: #f2f5fa;
  text-overflow: ellipsis;
}
.q-table tr {
  height: 44px;
}
.q-table tbody tr.tbody-table-row {
  &--alert {
    background-color: #f2c0379c;
    .appeals-td {
      color: #fff;
    }
    .appeal-link {
      color: #fff;
    }

    &:hover {
      background-color: #fce6a945;
      .appeals-td {
        color: #2c3955;
      }
      .appeal-link {
        color: #13b8ba;
      }

      td:last-child {
        background-color: #fce6a945;
      }
    }
  }
  &--negative {
    background-color: #c100176d;

    .appeals-td {
      color: #fff;
    }
    .appeal-link {
      color: #fff;
    }

    &:hover {
      background-color: #b3777e6d;
      .appeals-td {
        color: #2c3955;
      }
      .appeal-link {
        color: #13b8ba;
      }

      td:last-child {
        background-color: #b3777e6d;
      }
    }
  }
}
.q-table tbody tr:hover,
.q-table tbody tr:hover td:last-child {
  background-color: #f7f9fc;
}

.q-btn.btn--no-hover .q-focus-helper {
  display: none;
}
.q-tab.tab--no-hover .q-focus-helper {
  display: none;
}
.q-item.item--no-hover .q-focus-helper {
  display: none;
}

.q-menu {
  background: #404f6f;
  border-radius: 16px;
  padding: 12px;
}

.fade-leave-to,
.fade-enter-from {
  opacity: 0;
}
.fade-leave-from,
.fade-enter-to {
  opacity: 1;
}
.fade-leave-active,
.fade-enter-active {
  transition: opacity, 0.3s;
}

.q-dialog__inner--minimized > div {
  max-height: auto;
}

.btn-cancel,
.btn-action {
  padding: 12px 32px;
  font-size: 15px;
  border-radius: 16px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  background: none;
  border: none;
}

button[class^="btn"] {
  transition: 0.3s;
}
.btn-cancel {
  background-color: $hover;
  color: #404f6f;
}
.btn-action {
  background-color: #13b8ba;
  color: #fff;
}
.btn-add {
  background: #13b8ba;
  border: none;
  color: #fff;
  border-radius: 16px;
  padding: 12px 32px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}
.btn--disabled {
  background-color: $hover;
}

.btn-close {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.q-dialog__inner > .modal-container {
  width: 440px;
  background-color: #fff;
  padding-right: 8px;
  border-radius: 24px;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 12px;
    background-color: #f2f5fa;
    margin-top: 60px;
    margin-bottom: 24px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #e3e8f0;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #fff;
  padding: 20px 8px 16px 20px;
}

.modal-body {
  padding: 8px 8px 0px 20px;
}

.modal-footer {
  padding: 16px 8px 20px 8px;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;
}
.modal-container-scroll::-webkit-scrollbar {
  width: 8px;
}
.modal-container-scroll::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: #f2f5fa;
  margin-bottom: 20px;
}
.modal-container-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #e3e8f0;
}

.tabs-header {
  background-color: #f2f5fa;
  border-radius: 16px;
}
.q-tab__indicator {
  display: none;
}
.q-tab {
  text-transform: none;
  font-size: 15px;
  font-weight: 500;
  color: #404f6f;
  height: 40px;
  border: 2px solid #f2f5fa;
  border-radius: 14px;
}
.q-tab-panel {
  padding: 0;
}
.tab-active {
  background-color: #fff;
}
.create-appeal-modal .q-dialog__inner {
  justify-content: flex-end;
}

.q-dialog__inner--maximized > div.modal-container {
  border-radius: 16px 0 0 16px !important;
}

.option-content {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.option-content .image-wrapper {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.appeals-btn {
  border-radius: 16px;
  border: none;
  background-color: #13b8ba;
  color: #fff;
  font-size: 15px;
  height: 44px;
  padding: 0 32px;
  font-weight: 500;
  cursor: pointer;

  &_negative {
    background-color: var(--q-negative);
  }
}

.reports-btn {
  height: 24px;
}

.appeal-content {
  .q-panel {
    height: calc(100vh - 460px);
  }
  .q-tab-panel {
    padding-right: 8px;
  }
}
.create-appeal-interaction {
  .q-panel {
    height: calc(100vh - 252px - 16px);
  }
}
.tabs-content {
  .scroll {
    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 50px;
      background-color: #f2f5fa;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background-color: #e3e8f0;
    }
  }
}

// .tabs-content .scroll {
//   overflow: hidden;
// }

// .q-panel {
//   height: 100%;
//   max-height: 60vh;
// }
// .q-panel.scroll {
//   overflow: auto;
// }
// .scroll::-webkit-scrollbar {
//   width: 8px;
// }
// .scroll::-webkit-scrollbar-track {
//   border-radius: 50px;
//   background-color: #f2f5fa;
// }
// .scroll::-webkit-scrollbar-thumb {
//   border-radius: 50px;
//   background-color: #e3e8f0;
// }

.notify {
  background-color: #fff;
  color: #2c3955 !important;
  border-radius: 16px;
  padding: 16px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0px 0px 22px 0px #dae0eb;

  .q-icon {
    margin-right: 8px;
  }
}
.notify-alert {
  padding: 24px 16px;
  background-color: #f2c037;
}

.label-row {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.title-label {
  display: inline-flex;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 15px;
  &.red {
    background-color: hsl(0, 100%, 96%);
    color: hsl(0, 60%, 50%);
  }
  &.green {
    background-color: hsl(182, 77%, 93%);
    color: hsl(182, 69%, 33%);
  }
  &.violet {
    background-color: hsl(294, 100%, 96%);
    color: hsl(294, 60%, 50%);
  }
}

.details-tabs-header {
  column-gap: 2px;
}

//date picker input

.dp__input {
  height: 44px;
  background-color: #f2f5fa;
  border-radius: 16px;
  border: none;

  &::placeholder {
    color: #7a88a6;
  }
}

.dp__theme_light {
  --dp-background-color: #fff;
  --dp-text-color: #212121;
  --dp-hover-color: #f3f3f3;
  --dp-hover-text-color: #212121;
  --dp-hover-icon-color: #959595;
  --dp-primary-color: #13b8ba;
  --dp-primary-disabled-color: #6bacea;
  --dp-primary-text-color: #f8f5f5;
  --dp-secondary-color: #c0c4cc;
  --dp-border-color: #ddd;
  --dp-menu-border-color: #ddd;
  --dp-border-color-hover: #aaaeb7;
  --dp-border-color-focus: #aaaeb7;
  --dp-disabled-color: #f6f6f6;
  --dp-scroll-bar-background: #f3f3f3;
  --dp-scroll-bar-color: #959595;
  --dp-success-color: #76d275;
  --dp-success-color-disabled: #a3d9b1;
  --dp-icon-color: #959595;
  --dp-danger-color: #ff6f60;
  --dp-marker-color: #ff6f60;
  --dp-tooltip-color: #fafafa;
  --dp-disabled-color-text: #8e8e8e;
  --dp-highlight-color: rgb(25 118 210 / 10%);
  --dp-range-between-dates-background-color: var(--dp-hover-color, #f3f3f3);
  --dp-range-between-dates-text-color: var(--dp-hover-text-color, #212121);
  --dp-range-between-border-color: var(--dp-hover-color, #f3f3f3);
}

.diagnosis-input textarea.input-field__text-input {
  resize: none; 
  min-height: 120px;
}
