@font-face {
  font-family: "Inter";
  src: url("./web-font/Inter-Bold.woff") format("woff2"),
    url("./web-font/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./web-font/Inter-Medium.woff2") format("woff2"),
    url("./web-font/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./web-font/Inter-SemiBold.woff2") format("woff2"),
    url("./web-font/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./web-font/Inter-Regular.woff2") format("woff2"),
    url("./web-font/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
